@import "tailwindcss";

@theme {

  /* colors */

  /* text */
  --color-primary: oklch(0 0 0);
  --color-secondary: oklch(0.25 0 0);
  --color-accent-1: oklch(0.5544 0.0888 234.36);
  --color-accent-2: oklch(0.4466 0.1949 274);

  --color-home: oklch(0.5544 0.0888 234.36);
  --color-about: oklch(0.5708 0.185 29.18);
  --color-projects: oklch(0.6628 0.179 9.87);
  --color-contact: oklch(0.5138 0 0);


  /* backgrounds */
  --color-light: oklch(0.9702 0 0);
  --color-dark: oklch(0.01 0 0);

  /* sizing */
  --text-sm: 0.75rem;
  --text-md: 1.25rem;
  --text-lg: 1.5rem;
  --text-xl: 2rem;
  --text-2xl: 8rem;
  --text-3xl: 12rem;
  --text-4xl: 16rem;

  /* font */
  --font-outfit: Outfit, "sans-serif";
  --font-chiron: Chiron, "serif";
  --font-woodblock: WoodBlock, "sans-serif";
}

@font-face{
  font-family: Outfit;
  src: url("../public/fonts/Outfit/Outfit-VariableFont_wght.ttf")
}

@font-face{
  font-family: Chiron;
  src: url("../public/fonts/Chiron_GoRound_TC/ChironGoRoundTC-VariableFont_wght.ttf")
}

@font-face {
  font-family: WoodBlock;
  src: url("../public/fonts/Wood\ Block\ CG\ Regular.otf");
}

:root {
  background-color: oklch(0.01 0 0);
}

html, body {
  overflow-y: auto;
  overflow-x: hidden;
}