@import "tailwindcss";

@theme {

  /* colors */

  /* text */
  --color-primary: oklch(0 0 0);
  --color-secondary: oklch(0.25 0 0);
  --color-accent-1: oklch(0.5544 0.0888 234.36);
  --color-accent-2: oklch(0.4466 0.1949 274);

  --color-home: oklch(0.5544 0.0888 234.36);
  --color-about: oklch(0.5708 0.185 29.18);
  --color-projects: oklch(0.6628 0.179 9.87);
  --color-contact: oklch(0.5138 0 0);

  /* skill cards */

  --color-yellow: oklch(0.9402 0.1762 107.61);
  --color-gold-start: oklch(0.7346 0.1038 98.38);
  --color-gold-end: oklch(0.6728 0.0913 93.4);


  /* backgrounds */
  --color-light: oklch(0.9702 0 0);
  --color-dark: oklch(0.01 0 0);

  /* borders */
  --color-border: oklch(0.85 0 0);

  /* sizing */
  --text-xs: 0.5rem;
  --text-sm: 0.75rem;
  --text-md: 1.25rem;
  --text-lg: 1.5rem;
  --text-xl: 2rem;
  --text-2xl: 8rem;
  --text-3xl: 12rem;
  --text-4xl: 16rem;

  /* font */
  --font-outfit: Outfit, "sans-serif";
  --font-chiron: Chiron, "serif";
  --font-woodblock: WoodBlock, "sans-serif";

  /* animation */
  --animate-marquee-forward: marquee-forward 20s linear infinite;
  --animate-marquee-backward: marquee-backward 20s linear infinite;
}

@font-face{
  font-family: Outfit;
  src: url("../public/fonts/Outfit/Outfit-VariableFont_wght.ttf")
}

@font-face{
  font-family: Chiron;
  src: url("../public/fonts/Chiron_GoRound_TC/ChironGoRoundTC-VariableFont_wght.ttf")
}

@font-face {
  font-family: WoodBlock;
  src: url("../public/fonts/Wood\ Block\ CG\ Regular.otf");
}

:root {
  background-color: oklch(0.01 0 0);
}

html, body {
  overflow-y: auto;
  overflow-x: hidden;
}

.texture {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noise'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noise)' opacity='0.15'/%3E%3C/svg%3E");
}

@keyframes marquee-forward {
    from { transform: translateX(0); }
    to   { transform: translateX(-50%); }
}
@keyframes marquee-backward {
    from { transform: translateX(0); }
    to   { transform: translateX(50%); }
}